name: Build and Deploy

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  godot-ci:
    uses: watsutatsu/actions/.github/workflows/godot-ci.yml@main
    with:
      godot_version: 4.2.2
      export_name: test-project # to be removed
      project_path: games/main
    secrets: inherit
